<div class="loader-container" *ngIf="isLoading">
        <div class="lds-spinner" [ngStyle]="{'transform':'scale('+ scale +')'}"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
