<div style="position: relative">
    <app-loader [isLoading]=isLoading [scale]="2.5"></app-loader>
<nb-card *ngIf="model != null" style="text-align: center">
    <nb-card-header><h3>{{ model.name | titlecase }}</h3></nb-card-header>
    <nb-card-body style="display: flex;justify-content: space-around">
        <img [src]="model.sprites.back_default" style="width: 40%">
        <img [src]="model.sprites.front_default" style="width: 40%">
    </nb-card-body>
    <nb-card-body>
        <p>Height: {{ model.height / 10 }} m</p>        
        <p>Weight: {{ model.weight / 10 }} kg</p>        
    </nb-card-body>
    <nb-card-body style="display: flex; justify-content: space-evenly">
        <div class="type">
            {{ model.types[0].type.name | uppercase }}
        </div>       
        <div *ngIf="model.types[1] != null" class="type">
            {{ model.types[1].type.name | uppercase }}
        </div>       
    </nb-card-body>
    <nb-card-body>
        <canvas baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [type]="radarChartType">
        </canvas>
    </nb-card-body>
</nb-card>
</div>