<nb-layout>

  <nb-layout-header fixed>
    {{title}}
  </nb-layout-header>

  <nb-layout-column>
    <app-master (urlChanged)="onUrlChanged($event)"></app-master>
  </nb-layout-column>

  <nb-layout-column>
    <app-details [url]="url"></app-details>
  </nb-layout-column>

  <nb-layout-footer fixed>
  &copy;BStorm - 2019
  </nb-layout-footer>

</nb-layout>
