<nb-card>
    <nb-card-body style="display: flex;justify-content:space-between">
        <button nbButton outline status="info" [disabled]="model?.previous == null || isLoading" (click)="onPrev()" style="position: relative">
            <app-loader [isLoading]=isLoading [scale]="0.35"></app-loader>
            Previous
        </button>
        <button nbButton outline status="info" [disabled]="model?.next == null || isLoading" (click)="onNext()" style="position: relative">
            <app-loader [isLoading]=isLoading [scale]="0.35"></app-loader>
            Next
        </button>
    </nb-card-body>
</nb-card>
<nb-card style="position: relative">
    <app-loader [isLoading]="isLoading" [scale]="2.5"></app-loader>
    <nb-list>
        <nb-list-item *ngFor="let item of model?.results"
                      (click)="onSelect(item.url)">{{ item.name | titlecase }}</nb-list-item>
    </nb-list>
</nb-card>